### Import Necesary Libraries & Utils

In [37]:
import pandas as pd
from tabulate import tabulate

%run ../src/utils/dataframe_util.ipynb
%run ../src/utils/eda_util.ipynb

### Import Data Sets

In [19]:
training_df = load_datasets("../data/training_data.csv")
testing_df = load_datasets("../data/training_data.csv")

### Exploratory Data Analysis

In [21]:
training_df.head()

     date_id  item_dept  item_qty  net_sales store    item  invoice_num
0  11/1/2021    Grocery       1.0      160.0   XYZ   16620    1475459.0
1  11/1/2021    Grocery       2.0      480.0   XYZ   32365    1475459.0
2  11/1/2021    Grocery       1.0      127.0   XYZ   31349    1475459.0
3  11/1/2021  Household       2.0      110.0   XYZ    1266    1475475.0
4  11/1/2021  Household       1.0      150.0   XYZ  114920    1475475.0

In [22]:
testing_df.head()

     date_id  item_dept  item_qty  net_sales store    item  invoice_num
0  11/1/2021    Grocery       1.0      160.0   XYZ   16620    1475459.0
1  11/1/2021    Grocery       2.0      480.0   XYZ   32365    1475459.0
2  11/1/2021    Grocery       1.0      127.0   XYZ   31349    1475459.0
3  11/1/2021  Household       2.0      110.0   XYZ    1266    1475475.0
4  11/1/2021  Household       1.0      150.0   XYZ  114920    1475475.0

In [23]:
training_df.describe()

            item_qty      net_sales          item   invoice_num
count  614098.000000  614098.000000  614098.00000  5.912880e+05
mean        1.533792     335.067969   67622.41479  4.231954e+06
std         3.058092     824.733169   48909.65677  1.704178e+06
min       -59.000000  -15250.000000     906.00000  1.475419e+06
25%         1.000000     124.000000   14340.00000  2.581947e+06
50%         1.000000     215.000000   89725.00000  4.597865e+06
75%         1.668000     371.000000  117021.00000  5.598286e+06
max       880.000000  316880.280000  124146.00000  9.354809e+06

In [24]:
testing_df.describe()

            item_qty      net_sales          item   invoice_num
count  614098.000000  614098.000000  614098.00000  5.912880e+05
mean        1.533792     335.067969   67622.41479  4.231954e+06
std         3.058092     824.733169   48909.65677  1.704178e+06
min       -59.000000  -15250.000000     906.00000  1.475419e+06
25%         1.000000     124.000000   14340.00000  2.581947e+06
50%         1.000000     215.000000   89725.00000  4.597865e+06
75%         1.668000     371.000000  117021.00000  5.598286e+06
max       880.000000  316880.280000  124146.00000  9.354809e+06

In [27]:
training_cleaned = training_df.drop(columns=('item'))
training_cleaned.head()

test_cleaned = testing_df.drop(columns=('item'))
test_cleaned.head()

     date_id  item_dept  item_qty  net_sales store  invoice_num
0  11/1/2021    Grocery       1.0      160.0   XYZ    1475459.0
1  11/1/2021    Grocery       2.0      480.0   XYZ    1475459.0
2  11/1/2021    Grocery       1.0      127.0   XYZ    1475459.0
3  11/1/2021  Household       2.0      110.0   XYZ    1475475.0
4  11/1/2021  Household       1.0      150.0   XYZ    1475475.0

In [28]:
training_cleaned.dtypes

date_id         object
item_dept       object
item_qty       float64
net_sales      float64
store           object
invoice_num    float64
dtype: object

In [29]:
test_cleaned.dtypes

date_id         object
item_dept       object
item_qty       float64
net_sales      float64
store           object
invoice_num    float64
dtype: object

In [38]:
print_null_summary(training_cleaned, "training")
print_null_summary(test_cleaned, "testing")

Null values in training:
+-------------+---------------+----------+
| Column      |   Null Values |   Out of |
|-------------+---------------+----------|
| invoice_num |         22810 |   614098 |
+-------------+---------------+----------+

Null values in testing:
+-------------+---------------+----------+
| Column      |   Null Values |   Out of |
|-------------+---------------+----------|
| invoice_num |         22810 |   614098 |
+-------------+---------------+----------+